@charset "UTF-8";
@font-face {
    font-family: "FonteGood";
    src: url("../_fontes/Pangolin-Regular.ttf");
}
p{
    text-align: justify;
    text-indent: 50px;
}
header#cabecalho img#navega{
    position: absolute;
    top: 20px;
    height: 40px;
    width: 40px;
    left: 380px;
    margin-right: 3px;
}
div#interface{
    width: 900px;
    background-color: white;
    margin: 0px auto 0px auto;
    box-shadow: 2px 2px 20px rgba(13, 64, 4, 0.6);
    padding: 40px;
    border-radius: 5px;
}
header#cabecalho img#icone{
    position: absolute;
    left: 860px;
    top: 142px;
}
header#cabecalho{
    border-bottom: 4px #1a8b0d solid;
    height: 250px;
    background: url("../_imagens/nvidia-logo.png.png") no-repeat -55px 110px;
}
header#cabecalho h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: #022906;
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #0a7e2f;
    padding: 0px;
    margin-top: 0px;
}
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 380px;
}
nav#menu li{
    border-radius: 5px;
    display: inline-block;
    background-color: #000000;
    padding: 10px;
    margin: 4px;
    transition: background-color 1s;
}
ul#album-fotos {
    list-style: none;
    width: 600px;
    margin: 0px auto;
    padding: 50px;
    overflow: hidden;
}
ul#album-fotos li {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    border: 5px solid rgb(8, 92, 33);
    background-color: aliceblue;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s ease-in;
}
ul#album-fotos li#foto01 {
    background: url('../_imagens/rtx4090-01.png');
    background-position: 50% 50%;
    background-color: #FFFFFF;
}
ul#album-fotos li#foto02 {
    background: url('../_imagens/rtx4090-02.png');
    background-position: 50% 50%;
    background-color: #FFFFFF;
}
ul#album-fotos li#foto03 {
    background: url('../_imagens/rtx4090-03.png');
    background-position: 50% 50%;
    background-color: #FFFFFF;
}
ul#album-fotos li#foto04 {
    background: url('../_imagens/rtx4090-04.png');
    background-position: 50% 50%;
    background-color: #FFFFFF;
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}
nav#menu h2{
    display: none;
}
nav#menu li:hover {
    background-color:#043f0a;
}
nav#menu a{
    color: white;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
    font-weight: bolder;
}
section#corpo{
    font-family: 'FonteGood';
    display: block;
    width: 500px;
    float: left;
    border-right: 4px solid #1a8b0d;
    padding: 15px;
}
article#artigo h1{
    background-color: #0f6105;
    font-size: 20px;
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 2px black;
    margin-top: 0px;
    border-radius: 5px;
}
.update{
    color: rgba(0,0,0,0.5);
    text-align: right;
    font-size: 9px;
    margin-bottom: 0px;
}
table#tabela td{
    border: 2px solid #0d320a;
    padding: 10px;
    text-align: center;
}
table#tabela td.ce{
    background-color: black;
    color: white;
    vertical-align: top;
}
table#tabela {
    border: 2px solid #0d320a;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
}
aside#lateral h2{
    font-size: 20px;
    color:darkslategrey;
}
aside#lateral h3{
    text-align: right;
}
aside#lateral h4{
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    text-align: right;
}
footer#rodape{
    font-family:'Courier New', Courier, monospace;
    clear: both;
    border-top: 4px solid #1a8b0d;
    border-radius: 5px;
}

footer#rodape h3{
    text-align: center;
}

footer#rodape a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 2px;
}
footer#rodape a:hover {
    text-decoration: underline;
    color: white;
    border-radius: 5px;
    background-color:rgba(13, 64, 4);
}